@{
    ViewBag.Title = "About";
}

<div class="text-center">
    <h1 class="display-4">Assignment-2</h1>
    <p>This website is towards Assignment-2 of ISEM 551</p>
    <p> Created by: Vinay Reddy Neravetla</p>
</div>